@font-face 
{
    font-family: "index-icon";
    src: url('index-font/iconfont.eot'); /* IE9*/
    src: url('index-font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('index-font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('index-font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('index-font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.index-icon
{
    color: #66cd00;
    font-size: 24px;
    font-family: "index-icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face 
{
    font-family: "info-per-icon";
    src: url('info-per-font/iconfont.eot'); /* IE9*/
    src: url('info-per-font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('info-per-font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('info-per-font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('info-per-font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.info-per-icon
{
    color: #66cd00;
    font-size: 24px;
    font-family: "info-per-icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face 
{
    font-family: "info-com-icon";
    src: url('info-com-font/iconfont.eot'); /* IE9*/
    src: url('info-com-font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('info-com-font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('info-com-font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('info-com-font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.info-com-icon
{
    color: #66cd00;
    font-size: 24px;
    font-family: "info-com-icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face 
{
    font-family: "pub-per-icon";
    src: url('pub-per-font/iconfont.eot'); /* IE9*/
    src: url('pub-per-font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('pub-per-font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('pub-per-font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('pub-per-font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.pub-per-icon
{
    color: #66cd00;
    font-size: 24px;
    font-family: "pub-per-icon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}